<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Libreria</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <!-- BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/assets/bootstrap.min.css}"/>
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    </head>
    <body>
         
        <div id="panel">
            <div class="logo">
                <a th:href="@{/index}"> LIBRERIA</a>
            </div>
            <nav id="menu">
                <a class="nav-boton" th:href="@{/libros/todos}"> Libros </a>
                <a class="nav-boton" th:href="@{/autores/todos}">Autores</a>
                <a class="nav-boton" th:href="@{/editoriales/todas}">Editoriales</a>
            </nav>
        </div>
        
        <div id="border-title">  
        <h1 class="entry-phrase">Estás listo para tu próxima lectura?</h1>
   
        </div>
        
    </body>
</html>
